<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only"  src="../../assets/icon/person-add.svg"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only"  src="../../assets/icon/save.svg"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only"  src="../../assets/icon/trash.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="cliente">
  <!-- <ion-item>
    <ion-icon
      aria-hidden="true"
      name="person-circle"
    ></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ cliente.nomeComp }}
        <span class="date">
          <ion-note>{{ cliente.telefone }}</ion-note>
        </span>
      </h2>
    </ion-label>
  </ion-item> -->
  <div class="info-wrapper">
    <div class="info-gerais">
      <div class="info-header">
        <h3>Informações do Cliente</h3>
        <ion-icon slot="icon-only" color="light" src="../../assets/icon/person.svg"></ion-icon>
      </div>
      <div class="info-content">
        <ion-item>
          <ion-input required [value]="cliente.nomeComp" labelPlacement="stacked">
            <div slot="label">
              <ion-text color="medium">Nome Completo</ion-text>
              <ion-text color="danger"> *</ion-text>
            </div>
          </ion-input>
        </ion-item>
        <div class="row-dupla">
          <ion-item>
            <ion-input [value]="cliente.nomeResumido" labelPlacement="stacked">
              <div slot="label">
                <ion-text color="medium">Nome Resumido</ion-text>
              </div>
            </ion-input>
          </ion-item>
          <div class="input-com-icon">
            <ion-icon slot="icon-only" color="primary" src="../../assets/icon/calendar-number.svg"></ion-icon>
            <ion-item>
              <ion-input [value]="cliente.nascimento" labelPlacement="stacked">
                <div slot="label">
                  <ion-text color="medium">Data de Nascimento</ion-text>
                </div>
              </ion-input>
            </ion-item>
          </div>
        </div>
        <div class="row-dupla">
          <ion-item>
            <ion-input [value]="cliente.cpf" labelPlacement="stacked">
              <div slot="label">
                <ion-text color="medium">CPF</ion-text>
                <ion-text color="danger"> *</ion-text>
              </div>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-input [value]="cliente.rg" labelPlacement="stacked">
              <div slot="label">
                <ion-text color="medium">RG</ion-text>
              </div>
            </ion-input>
          </ion-item>
        </div>
        <div class="info-toggle">
          <p>Situação:</p>
          <ion-toggle [checked]="cliente.situacao" labelPlacement="end">{{ cliente.situacao }}</ion-toggle>
        </div>
      </div>
    </div>


    <div class="info-contato">
      <div class="info-header">
        <h3>Dados para Contato</h3>
        <ion-icon slot="icon-only" color="light" src="../../assets/icon/call.svg"></ion-icon>
      </div>
      <div class="info-content">
        <div class="row-dupla">
          <div class="input-com-icon">
            <ion-icon slot="icon-only" color="medium" src="../../assets/icon/call.svg"></ion-icon>
            <ion-item>
              <ion-input [value]="cliente.telefone" labelPlacement="stacked">
                <div slot="label">
                  <ion-text color="medium">Telefone</ion-text>
                </div>
              </ion-input>
            </ion-item>
          </div>
          <div class="input-com-icon">
            <ion-icon slot="icon-only" color="medium" src="../../assets/icon/phone-portrait-outline.svg"></ion-icon>
            <ion-item>
              <ion-input [value]="cliente.celular" labelPlacement="stacked">
                <div slot="label">
                  <ion-text color="medium">Celular</ion-text>
                </div>
              </ion-input>
            </ion-item>
          </div>
        </div>
        <div class="email">
          <ion-icon slot="icon-only" color="medium" src="../../assets/icon/mail.svg"></ion-icon>
          <ion-item>
            <ion-input type="email" [value]="cliente.email" labelPlacement="stacked">
              <div slot="label">
                <ion-text color="medium">E-mail</ion-text>
              </div>
            </ion-input>
          </ion-item>
        </div>
        <div class="observacoes">
          <ion-item>
            <ion-textarea rows="7" [value]="cliente.observacoes" labelPlacement="stacked">
              <div slot="label">
                <ion-text color="medium">Observações:</ion-text>
              </div>
            </ion-textarea>
          </ion-item>
        </div>
      </div>
    </div>
  </div>
  <div class="endereco-wrapper">
    <div class="endereco">
        <div class="info-header">
          <h3>Endereço</h3>
        </div>
        <div class="endereco-rows">
          <div class="endereco-row1">
            <ion-item>
              <ion-input [value]="cliente.celular" labelPlacement="stacked">
                <div slot="label">
                  <ion-text color="medium">CEP</ion-text>
                </div>
              </ion-input>
            </ion-item>
          </div>
          <div class="endereco-row2">
            <ion-item class="endereco-row2-mid-field">
              <ion-input [value]="cliente.endereco" labelPlacement="stacked">
                <div slot="label">
                  <ion-text color="medium">Endereço</ion-text>
                </div>
              </ion-input>
            </ion-item>
            <ion-item class="endereco-row2-small-field">
              <ion-input [value]="cliente.celular" labelPlacement="stacked">
                <div slot="label">
                  <ion-text color="medium">Número</ion-text>
                </div>
              </ion-input>
            </ion-item>
            <ion-item class="endereco-row2-mid-field">
              <ion-input [value]="cliente.celular" labelPlacement="stacked">
                <div slot="label">
                  <ion-text color="medium">Complemento</ion-text>
                </div>
              </ion-input>
            </ion-item>
          </div>
          <div class="endereco-row3">
            <ion-item class="endereco-row2-mid-field">
              <ion-input [value]="cliente.endereco" labelPlacement="stacked">
                <div slot="label">
                  <ion-text color="medium">Cidade</ion-text>
                </div>
              </ion-input>
            </ion-item>
            <ion-item class="endereco-row2-mid-field">
              <ion-input [value]="cliente.celular" labelPlacement="stacked">
                <div slot="label">
                  <ion-text color="medium">Bairro</ion-text>
                </div>
              </ion-input>
            </ion-item>
            <ion-item class="endereco-row2-mid-field">
              <ion-input [value]="cliente.celular" labelPlacement="stacked">
                <div slot="label">
                  <ion-text color="medium">Estado</ion-text>
                </div>
              </ion-input>
            </ion-item>
          </div>
        </div>
    </div>
  </div>
</ion-content>
