ion-item {
  --inner-padding-end: 0;
  --background: transparent;
}
ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  font-size: 42px;
  margin-right: 8px;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 12px;
  font-weight: normal;
}
.info-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 40px;
}
.info-gerais, .info-contato {
  border: solid 1px lightgrey;
  width: 45%;
  margin-top: 30px;
}
.info-header {
  background-color: #3880ff;
  height: 50px;
  padding: 8px 20px 8px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-header h3 {
  color: white;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
}
.info-header ion-icon {
  font-size: 26px;
}
.info-gerais .info-content {
  padding: 10px 20px 10px 0;
}
.row-dupla {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.row-dupla ion-item {
  width: 44%;
  margin: 15px 0;
}
.input-com-icon {
  display: flex;
  align-items: center;
  width: 47%;
}
.input-com-icon ion-item, .email ion-item {
  width: 100%;
}
.input-com-icon ion-icon, .email ion-icon {
  font-size: 26px;
}
.info-contato .input-com-icon {
  padding: 0px 20px ;
}
.email {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.info-toggle {
  padding: 0 0 20px 18px;
}
p {
  font-size: small;
  font-style: italic;
  color: #7e7f81;
}
.endereco-wrapper {
  display: flex;
  justify-content: center;
}
.observacoes {
  width: 98%;
}
.endereco {
  width: 95%;
  border: solid 1px lightgrey;
}
.endereco-rows {
  padding: 10px 20px 20px 0;
}
.endereco-row2, .endereco-row3 {
  display: flex;
  justify-content: space-between;
}
.endereco-row2-mid-field {
  width: 30%;
}
.endereco-row2-small-field {
  width: 10%;
}