<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only"  src="../../assets/icon/person-add.svg"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only"  src="../../assets/icon/save.svg"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only"  src="../../assets/icon/trash.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="cliente">
  <!-- <ion-item>
    <ion-icon
      aria-hidden="true"
      name="person-circle"
    ></ion-icon>
    <ion-label class="ion-text-wrap">
      <h2>
        {{ cliente.nomeComp }}
        <span class="date">
          <ion-note>{{ cliente.telefone }}</ion-note>
        </span>
      </h2>
    </ion-label>
  </ion-item> -->
  <div class="info-wrapper">
    <div class="info-gerais">
      <div class="info-header">
        <h3>Informações Gerais</h3>
      </div>
      {{ cliente.nomeComp }}
    </div>
    <div class="info-contato">
      <div class="info-header">
        <h3>Contato</h3>
      </div>
      {{ cliente.telefone}}
    </div>
  </div>
  <div class="endereco">
    <div class="info-header">
      <h3>Endereco</h3>
    </div>
    <h1>{{ cliente.endereco }}</h1>
  </div>
</ion-content>
